/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/old_demo
/__MACOSX
/no need
/vendor1
/https:
LIS
adwiseri
fraazo.co.uk
old_data
.git.zip
wp
.env
.env.*
!.env.example
